{% extends 'layouts/default.twig' %}
{% block content %}
  <section class="hero is-info">
    <div class="hero-body">
      <p class="title">
        A Boilerplate for Slim 4
      </p>
      <p class="subtitle">
        Simple Boilerplate to use Twig, Migration, CSRF
      </p>
    </div>
  </section>
{% endblock %}
