<footer class="footer py-2">
  <div class="content has-text-centered">
    <div><a href="/">A Boilerplate of Slim 4</a></div>
    <div>© 2022 <a href="https://shimoning.com">Shimoning inc.</a></div>
  </div>
</footer>
